# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# VS folder
.vs/

# Binaries
KHAI_Labs/x64/Debug
KHAI_Labs/x64/Release

KHAI_Labs/KHAI_Labs/x64/Debug
KHAI_Labs/KHAI_Labs/x64/Release

DataStructures/x64/Debug
DataStructures/x64/Release

DataStructures_UT/x64/Debug
DataStructures_UT/x64/Release

#pdb files
*.pdb

Lab1/build/.vs
Lab1/build/CMakeFiles
Lab1/build/Debug
Lab1/build/Release
Lab1/build/*.dir
Lab1/build/SDK
Lab1/build/x64
Lab1/build/UltralightSDK-prefix
Lab1/build/CMakeCache.txt
Lab1/build/cmake_install.cmake