body {
    font-family: -apple-system, 'Segoe UI Light', Ubuntu, Arial, sans-serif;
}

.scroll
{
    height: 40vmin;   
    overflow-y : scroll;
}

.lv-border
{
    border: 1px solid black;
    padding: 1rem;
    border-radius: 10px;
}

.buttons-mr
{
    margin-bottom: 1rem;
}

.dropdown-mg
{
    margin-left:1rem;
    margin-top:1rem;
    margin-bottom:1rem;
}

.mg-d
{
    margin-bottom: 30px;
}

.sel-row
{
    background: rgb(89, 145, 194);   
}

